#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#selection-area {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#lineinput {
  width: 90%;
  margin-bottom: 10px;
}

#line-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-btn{
  width: 100%;
}

.line-btn {
  width: 90%;
  background-color: #5985c9; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
